
body {
        background-color: #FFFFFF;
        font-family: "Lucida Sans", sans-serif;
        margin: 1%;
}

h1 {
        color: #E65353;
        font-size: 42px;
        padding-left: 2%;
        padding-right: 2%;
}

h2 {
        color: #E61717;
        font-size: 28px;
        padding-left: 2%;
        padding-right: 2%;
}

p {
        font-size: 16px;
        padding-left: 2%;
        padding-right: 2%;
        display: block;
}

a {
        font-size: 16px;
        color: black;
}

#navbar {
        background-color: #E65353;
        white-space: nowrap;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-right: 2%;
        padding-left: 2%;
        margin-left: 2%;
        margin-right: 2%;
        text-align: center;
}

.pad {
        padding-left: 2%;
        padding-right: 2%;
}

.strong {
        font-weight: bold;
}

#mitchell {
        float: right;
        margin-right: 2%;
        margin-left: 2%;
        margin-top: 37px;
        margin-bottom: 5px;
        width: 25%;
        height: 25%;
}