
body {
        background-color: #FFFFFF;
        font-family: "Lucida Sans", arial, sans-serif;
        margin: 2%;
        margin-bottom: 30px;
}

h1 {
        color: #D41C1C;
        font-size: 42px;
        padding-left: 2%;
        padding-right: 2%;
}

h2 {
        color: #C50000;
        font-size: 20px;
        padding-left: 2%;
        padding-right: 2%;
}

p {
        font-size: 16px;
        padding-left: 2%;
        padding-right: 2%;
        margin-bottom: 0px;
        display: block;
}

a {
        font-size: 16px;
        color: black;
}

#whitehover:hover {
        color: white;
}

#redhover:hover {
        color: #D41C1C;
}

ul {
        margin-bottom: 2%;
        margin-right: 2%;
        margin-top: 0px;
        margin-left: 0px;
}

#navbar {
        background-color: #D41C1C;
        white-space: nowrap;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-right: 2%;
        padding-left: 2%;
        margin-left: 2%;
        margin-right: 2%;
        text-align: center;
}

.pad {
        padding-left: 2%;
        padding-right: 2%;
}

.strong {
        font-weight: bold;
}

.ital {
        font-style: italic;
}

#homepic {
        margin-right: 2%;
        margin-left: 2%;
        margin-top: 37px;
        margin-bottom: 5px;
        width: 25%;
        height: 25%;
        float: right;
}